<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
">
	<!--扫描自动依赖注入的包名 -->
	<context:component-scan base-package="com.zeusjava.web.controller"/>
	<context:component-scan base-package="com.zeusjava.web.rest"/>
	<!-- 默认的注解映射的支持 -->
	<mvc:annotation-driven/>
	<!--视图解释器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
		<property name="prefix" value="/WEB-INF/jsp/"/>
		<property name="suffix" value=".jsp"/>
	</bean>

	<mvc:resources location="/static/" mapping="/static/**" />
	<mvc:default-servlet-handler />

</beans>